:root{
    --color-background:#1b2a41;
    --color-text:white;
    --color-titulo:#00d1b2;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
}

hr{
    color: var(--color-titulo);
    background-color: var(--color-titulo);
    width: 900px;
    height: 5px;
    margin-top: 15px;
    padding-top: 15px;
    border-radius: 20px;
}

.hero-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background: linear-gradient(to bottom, #243b55, #1b2a41);
    padding: 2rem;
    position: relative;
}

.logo img {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
}

.nav-links {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    text-decoration: none;
    color: var(--color-text);
    font-size: 1rem;
    font-weight: bold;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.hero-text {
    margin-right: 2rem;
    text-align: left;
}

.hero-text h1 {
    font-size: 2.5rem;
    color: var(--color-titulo);
}

.hero-text p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.hero-text button {
    background-color: transparent;
    border: 2px solid var(--color-titulo);
    padding: 0.5rem 1rem;
    color: var(--color-titulo);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1rem;
}

.hero-text button:hover {
    background-color:var(--color-titulo);
    color: var(--color-text);
}

.hero-image img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.social-icons {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.normal {
    width: 50px;
    height: 50px;

}

.linkdn {
    width: 65px;
    height: 65px;
    padding-bottom: 5px;
    margin-top: -4px;
}

.small {
    width: 70px;
    height: 80px;
    padding-bottom: 9px;
    margin-top: -8px;
}




