

.social-icons {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.normal {
    width: 50px;
    height: 50px;

}

.linkdn {
    width: 65px;
    height: 70px;
    padding-bottom: 5px;
    margin-top: -6px;
}

.small {
    width: 70px;
    height: 80px;
    padding-bottom: 9px;
    margin-top: -8px;
}


/**
Carrusel
*/

.container-carrusel {
    width: 500px;
    height: 80px;
    overflow: hidden; /* Oculta las imágenes fuera del contenedor */
    margin: 2rem auto;
    background-color: var(--color-background);
    display: flex;
    align-items: center;
    border: 2px solid var(--color-titulo);
    position: relative;
}

.carruseles {
    display: flex;
    animation: moveSlider 25s ease-in-out infinite alternate; /* Bucle ida y vuelta */
}

.container-carrusel2 {
    width: 300px;
    height: 80px;
    overflow: hidden; /* Oculta las imágenes fuera del contenedor */
    margin: 2rem auto;
    background-color: var(--color-background);
    display: flex;
    align-items: center;
    border: 2px solid var(--color-titulo);
    position: relative;
}

.carruseles2 {
    display: flex;
    animation: moveSlider 15s ease-in-out infinite alternate; /* Bucle ida y vuelta */
}

.slider-section {
    flex: 0 0 auto;
    width: 100px; /* Ancho de cada sección */
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-section img {
    width: 50px;
    height: auto;
}

/* Animación de movimiento */
@keyframes moveSlider {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-73%); /* Desplazamiento hacia la izquierda */
    }
    100% {
        transform: translateX(0); /* Regresa a la posición inicial */
    }
}

#message{
    display: none; 
    color: var(--color-titulo);
}

:root {
    --color-background: #1b2a41;
    --color-text: white;
    --color-titulo: #00d1b2;
    --color-negro: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
    line-height: 1.6;
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
}

hr {
    color: var(--color-titulo);
    background-color: var(--color-titulo);
    width: 835px;
    height: 5px;
    margin: 15px auto; /* Centra y evita desplazamientos */
    border-radius: 20px;
}

.hero-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to bottom, #243b55, #1b2a41);
    padding: 2rem 1rem;
    width: 100%;
}

.logo img {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
}

.nav-links {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    text-decoration: none;
    color: var(--color-text);
    font-size: 1rem;
    font-weight: bold;
}

.hero-content {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten */
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;
    max-width: 1200px; /* Evita que el contenido sea más ancho que la pantalla */
}

.hero-text {
    margin-right: 1rem;
    text-align: center;
    max-width: 600px; /* Limita el ancho */
}

.hero-text h1 {
    font-size: 2.5rem;
    color: var(--color-titulo);
}

.hero-text p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.hero-text button {
    background-color: transparent;
    border: 2px solid var(--color-titulo);
    padding: 0.5rem 1rem;
    color: var(--color-titulo);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1rem;
}

.hero-text button:hover {
    background-color: var(--color-titulo);
    color: var(--color-text);
}

.hero-image img {
    border-radius: 70%;
    width: 150px;
    height: 150px;
}

.titulo-carrusel{
    color: var(--color-text);
    text-align: center;
}

.sobre-mi {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten */
    align-items: flex-start;
    justify-content: space-between;
    background-color: #1a1a1a;
    color: var(--color-text);
    padding: 30px;
    border-radius: 10px;
    margin-left: 500px;
    gap: 20px;
    max-width: 1200px; /* Limita el ancho */
    margin: 20px auto;
}
.titulo{
    color: var(--color-titulo);
    text-align: center;
}
.contenido {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%; /* Se ajusta al ancho del contenedor */
    max-width: 60%; /* Limita el ancho máximo */
    align-items: flex-start;
}

 .card {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sobre-mi-contenido {
    text-align: justify;
    line-height: 1.5;
    width: 500px;
}

.sobre-mi-imagen {
    width: 100%; /* Se ajusta al contenedor */
    max-width: 30%; /* Limita el ancho máximo */
    margin: auto; /* Centra la imagen */
}

.sobre-mi-imagen img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Proyectos */
.proyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
    padding: 40px;
    border-radius: 10px;
    gap: 20px;
    max-width: 1200px; /* Limita el ancho */
    margin: 20px auto;
}
.proyectos h2{
    color: var(--color-titulo);
    text-align: center;
}

.proyectos h1{
    color: var(--color-text);
    text-align: center;
}

.card-proyecto {
    background-color: #333;
    padding: 20px;
    width:  1100px;
    height: 350px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.card-proyecto.visible {
    opacity: 1;
    transform: translateX(0);
}

.img-proyecto {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.img-proyecto:hover {
    transform: scale(1.1); /* Zoom al 110% */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra más intensa */
}



.proyecto-contenido {
    display: flex;
    align-items: center;
}

.proyecto-contenido h1 {
    margin-bottom: 20px; /* Ajusta el valor según sea necesario */
}


.contenedor-flecha {
    display: flex;
    align-items: left;
    justify-content: left;
    width: 100%;
    margin-top: 20px;
}

.flecha {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 390px; /* Ajusta según necesidad */
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
}

.linea {
    flex-grow: 1;
    height: 2px;
    background-color: rgb(255, 252, 252);
    margin-right: 0px;
    transition: background-color 1.5s ease-in-out;
}

.flecha i {
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: color 2s ease-in-out;
    background-color: transparent;
    border: 2px solid rgb(248, 243, 243);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 1.5s ease-in-out;
}

/* Efecto al pasar el cursor */
.flecha:hover .linea {
    background-color: var(--color-titulo);
}

.flecha:hover i {
    color: var(--color-titulo);
    border-color: var(--color-titulo);
    background-color: white;
}




.tags {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* Estilo de los tags */
.tag {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 15px;
    border-radius: 20px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Efecto hover */
.tag:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

/* Colores específicos */
.android {
    background-color: #3DDC84;
}

.kotlin {
    background-color: #A97BFF;
}

.java {
    background-color: #FF9F45;
}

.html {
    background-color: #F16529;
}

.css {
    background-color: #2965F1;
}

.javascript {
    background-color: #F0DB4F;
}

.mysql {
    background-color: #00758F;
}

.php {
    background-color: #8993BE;
}

.python {
    background-color: #306998;
}

.odoo{
    background-color: #6F2DA8;
}

/* Iconos */
.tag i {
    font-size: 16px;
}



/*formulario*/
/* Contenedor del formulario */
.contact-form {
    max-width: 600px;
    margin: 2rem auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo del título */
.contact-form h2 {
    color: var(--color-titulo);
    text-align: center;
    margin-bottom: 1rem;
}

/* Campos del formulario */
.contact-form label {
    color: var(--color-text);
    font-size: 1rem;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 2px solid var(--color-titulo);
    background-color: #222;
    color: var(--color-text);
    font-size: 1rem;
}

/* Ajuste del textarea */
.contact-form textarea {
    resize: vertical;
    min-height: 100px;
}

/* Botón de envío */
.contact-form button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: 2px solid var(--color-titulo);
    background-color: transparent;
    color: var(--color-titulo);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.contact-form button:hover {
    background-color: var(--color-titulo);
    color: var(--color-text);
}
